.video-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 5;
  top: 0;
  display: table;
}

.video-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#current-video {
  height: 100vh;
  width: calc(100vh * 16/9);
}

.video-component {
  top: 0;
  position: relative;
  margin: 0 auto;
}

.close {
  font-weight: bold;
  color: #fff;
}