<div class="video-overlay" (click)="closeVideo()">
  <div class="video-wrapper">
    <iframe id="current-video" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" type="text/html" [src]=" selectedSong.url | youtube" allow="autoplay"></iframe>
    <!-- <div (click)="closeVideo()" class="close">BACK TO SONGS</div> -->
  </div>
</div>
