$splashWidth: 100%;
$textCol: #2bdfff;
$tablet-width: 768px;
$desktop-width: 1024px;

.splash {
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0;
  position: 0;
}

.header {
  padding: 0;
  width: $splashWidth;
  margin: 0 auto 0 auto;
  position: relative;
}

@media screen and (min-width: $tablet-width) {
  .header {
    margin: -140px auto 0 auto;
  }
}

.header-bg {
  width: 100%;
  position: relative;
}

.header-bg img {
  width: 100%;
}

.header-title {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
}

.header-title img {
  width: 70%;
}

.body-wrapper {
  width: $splashWidth;
  margin: 0 auto;
  text-align: center;
}

.body-content {
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 600px;
  font-family: "Times New Roman", serif;
  font-size: 11pt;
  color: $textCol;
}

.details {
  color: #ff0000;
  font-weight: bold;
}

.logos {
  text-align: right;
  margin-top: 60px;
}

.logos img {
  margin-left: 30px;
}

a:link, a:visited, a:active, a:hover {
  color: #ff0000;
}