<div class="splash">
  <div class="header" routerLink="/songs">
    <div class="header-bg">
      <img src="{{headerImg}}">
    </div>
    <!-- <div class="header-title">
      <img src="{{headerTitle}}">
    </div> -->
  </div>
  <div class="body-wrapper" routerLink="/songs">
    <div class="body-content">
      <div class="copy">
        <p>Leave me breathless. Sing for yourself. Here, dissonant voices are welcomed.</p>
        <p>～</p>
        <p>Karaoke produces an experience that is both collective and intimate, where impassioned voices are shared in enclosed spaces. On the evening of September 7, 2018, U Leave Me Breathless leaves the doors ajar, embedding karaoke within the public infrastructure at Place Sun-Yat-Sen in Montreal’s Chinatown.</p>
        <p>U Leave Me Breathless (2018) is a site-specific digital installation introducing a downloaded 3D character inspired by the Vocaloid™ Hatsune Miku. Passersby enter a private box to sing their hearts out. Voices echoing in the square are accompanied by karaoke videos projected to the public, crafted by Grace An using found footage.</p>
        <p>~</p>
        <p>Grace An is a digital artist, animator & character-maker based in Montreal.<br>
        Her illustrated works are released under her alias Sunshinable.</p>
        <p>( ˘ ³˘)～～♥</p>
        <p>Coupe mon souffle. Chante pour personne d'autre que toi-même.<br>
        Ici, les voix dissonantes sont les bienvenues.</p>
        <p>~</p>
        <p>Le karaoké crée une expérience à la fois collective et intime, où les voix fougueuses se lient dans des espaces clos. Dans la soirée du 7 septembre 2018, "Tu me coupes le souffle" laisse les portes entrouvertes, et implante le karaoké dans l'infrastructure publique à la Place Sun-Yat-Sen dans le quartier chinois de Montréal.</p>
        <p>"Tu me coupes le souffle" (2018) est une installation in situ numérique présentant un personnage de 3D téléchargé et inspiré du Vocaloid™ Hatsune Miku. Les passantes entrent dans une box pour chanter de tout leur cœur. Les voix retentissant dans la place sont accompagnées par des vidéos de karaoké projetées pour le public, confectionnées par Grace An à partir d'images qu'elle a trouvées.</p>
        <p>~</p>
        <p>Grace An est une artiste numérique, animatrice et créatrice de personnage basée à Montréal.<br>Ses travaux d'illustration sont signés Sunshinable.</p>
      </div>
      <div class="details">
        <a href="http://www.atelierceladon.com/u-leave-me-breathless" target="_blank">More info</a><br>
        Grace An ( <a href="http://www.sunshinable.com/" target="_blank">w</a>, <a href="https://twitter.com/sunshinable" target="_blank">t</a>, <a href="https://www.instagram.com/sunshinable/" target="_blank">i</a> )<br>
        Atelier Céladon ( <a href="http://www.atelierceladon.com/" target="_blank">w</a>, <a href="http://www.facebook.com/projectceladon" target="_blank">f</a>, <a href="http://www.twitter.com/atelierceladon" target="_blank">t</a>, <a href="https://www.instagram.com/atelierceladon/" target="_blank">i</a> )<br>
        <a href="http://www.facebook.com/events/282394932544248/" target="_blank">Facebook event</a>
      </div>
      <div class="logos">
        <img src="../assets/atelier-celadon-logo.jpg" style="width: 10%;">
      </div>
    </div>
  </div>
</div>