<!-- THIS WILL CONTAIN THE SONG BROWSING UI -->
<div class="browser">
  <div class="header">
    <div class="title" routerLink="/">
      U Leave Me Breathless
    </div>
    <div class="filters">
      <ul class="filter-list inline-list">
        <li class="filter-opt" (click)="selectLang('en')">English</li>
        <li class="filter-opt" (click)="selectLang('fr')">French</li>
        <li class="filter-opt" (click)="selectLang('ko')">Korean</li>
        <li class="filter-opt" (click)="selectLang('zh')">Chinese</li>
      </ul>
    </div>
  </div>
  <div class="list">
    <div class="songs wrapper">
      <div *ngFor="let song of songs" class="row" (click)="selectSong(song)">
        <ng-container *ngIf="song.lang == byLang">
          <div class="row-item song-id" id="{{song.id}}">{{song.id}}</div>
          <div class="row-item song-title">{{song.title}}</div>
          <div class="row-item song-artist">{{song.artist}}</div>
        </ng-container>
      </div>
    </div>
  </div>
  <app-video [selectedSong]="selectedSong" *ngIf="selectedSong" (dismissVideo)="clearSong()"></app-video>
  <div class="footer">
    <div class="wrapper">
      <div class="footer-item" style="float:left;"><a href="http://www.sunshinable.com/" target="_blank">Sunshinable</a></div>
      <div class="footer-item" style="float:right;"><a href="http://www.atelierceladon.com/" target="_blank">Atelier Céladon</a></div>
    </div>
  </div>
</div>
