$menu-col: #e7fc3d;
$menu-col-lite: #f3fea0;
$maxWidth: 1300px;
$tablet-width: 768px;
$desktop-width: 1024px;

.browser {
  font-family: 'Arial Narrow', sans-serif;
}

.wrapper {
  position: relative;
  max-width: $maxWidth;
  margin: 0 auto;
}

.header .title {
  font-weight: bold;
  background: $menu-col;
  padding: 10px;
  border-radius: 5px;
  border: 1px black solid;
}

.header .filters {
  margin: 0;
}

.header .filters .filter-list {
  margin: 8px 0;
}

.header .filters .filter-opt {
  background: black;
  color: #fff;
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  min-width: 17%;
}

.list {
  overflow-y: scroll;
  height: calc(100vh - 140px);
  position: fixed;
  top: 100px; left: 0;
  width: 100%;
}

.songs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 5px;
  margin: 0 auto;
}

.songs .row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.songs .row .row-item {
  border: 1px solid #000;
  padding: 7px;
  // height: 20px;
  font-size: 0.73rem;
}

@media screen and (min-width: $tablet-width) {
  .songs .row .row-item {
    height: 20px;
    font-size: 1rem;
  }
}

.song-id {
  width: 20%;
  font-weight: bold;
  background: $menu-col;
}

.song-title {
  width: 40%;
}

.song-artist {
  width: 40%;
  background: $menu-col-lite;
}

.footer {
  height: 40px;
  z-index: 30;
}

.footer-item {
  padding: 10px;
}

a:link, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}