html, body {
  font-family: 'Arial', sans-serif;
  font-size: 12pt;
  text-align: center;
  margin: 0;
}

.header, .footer {
  padding: 5px;
}

.row {
  width: 100%;
}

.row-item {
  display: inline-block;
}

.inline-list {
  padding: 0;
}

.inline-list li {
  display: inline-block;
  margin: 2px 4px;
}

.footer {
  position: fixed;
  padding: 0;
  width: 100%;
  bottom: 0;
}